form {
  margin-top: 20px;
}

.promotion-form__group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
  }

  input {
    border: 1px solid #aaa;
    border-radius: 8px;
    height: 36px;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  #price {
    width: 220px;
  }
}